  <div>
    <div class="page-header">
      <h1>Список меню:</h1>
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="['./create']">Добавить</button>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus">
            <th scope="row">{{menu.menuId}}</th>
            <td>{{menu.menuDate}}</td>
            <td [ngSwitch]="menu.menuStatus">
            <span *ngSwitchCase="0">Active</span>
            <span *ngSwitchCase="1">Closed</span>
            </td>        
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" routerLink="./{{menu.menuId}}/edit">Изменить</button>
                <button type="button" class="btn btn-danger" (click)="deleteSample(sample.sampleId)">Удалить</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
