<div class="card-body">
    <h4 class="card-title">Edit command: {{commandToEdit.name}}#{{commandToEdit.commandId}}</h4>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Название" [(ngModel)]="commandToEdit.name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Описание" [(ngModel)]="commandToEdit.description" />
        </div>
    </div>
</div>
