<div>
    <div class="page-header">
        <h1>Управление командами</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" (click)="addComand()">Добавить</button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название команды</th>
                    <th>Описание действия</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commands of commands">
                    <th scope="row">{{commands.commandId}}</th>
                    <td>{{commands.name}}</td>
                    <td>{{commands.description}}</td>
                    <td>
                        <div class="btn-group" role="group" >
                            <button type="button" class="btn btn-primary">Изменить</button>
                            <button type="button" class="btn btn-danger" (click)="deleteCommand(commands.commandId)">Удалить</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>