.column {
  width: 100px;
  border-color: brown;
}

  .column.row {
    width: 80px;
    border-color: blueviolet;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
