<div class="columns mx-5">
    <div class="float-left">
        <app-dish-column-sample [dishes]="saladItems"></app-dish-column-sample>
    </div>
    <div class="float-left">
        <app-dish-column-sample [dishes]="firstDishItems"></app-dish-column-sample>
    </div>
    <div class="float-left">
        <app-dish-column-sample [dishes]="secondDishItems"></app-dish-column-sample>
    </div>
    <div class="float-left">
        <app-dish-column-sample [dishes]="garnishItems"></app-dish-column-sample>
    </div>
    <div class="clear"></div>
</div>