<h1>Список блюд:</h1>
<hr>
<button type="button" class="btn btn-primary" routerLink="/dish/create">Добавить</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Тип</th>
      <th scope="col">Контейнер</th>
      <th scope="col">Изменить</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dish of dishes">
      <th>{{dish.dishId}}</th>
      <th>{{dish.name}}</th>
      <th>{{dish.description}}</th>
      <td>{{dish.price}}</td>
      <td>{{getDishCategory(dish.category)}}</td>
      <td>{{dish.containerId}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" routerLink="/dish/{{dish.dishId}}/edit">Изменить</button>
        </div>
      </td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" (click)="deleteDish(dish.dishId)">Удалить</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
