<h1>Добавить блюдо</h1>

<hr>

  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="Название" [(ngModel)]="dishToEdit.name"/>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="Описание" [(ngModel)]="dishToEdit.description"/>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="Цена" [(ngModel)]="dishToEdit.price"/>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-primary" (click)="saveDish()">Сохранить</button>
    </div>
  </div>
