<div>
    <div class="page-header">
        <h1>Название страницы <small>дополнительный текст</small></h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary" (click)="addSample()">Добавить</button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sample Name</th>
                    <th>Sample Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of samples">
                    <th scope="row">{{sample.sampleId}}</th>
                    <td>{{sample.name}}</td>
                    <td>{{sample.description}}</td>
                    <td>
                        <div class="btn-group" role="group" >
                            <button type="button" class="btn btn-primary" (click)="editSample(sample.sampleId)">Изменить</button>
                            <button type="button" class="btn btn-danger" (click)="deleteSample(sample.sampleId)">Удалить</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-columns">
            <div class="card" *ngIf="sampleToEdit">
                <div class="card-body">
                    <h4 class="card-title">Edit sample: {{sampleToEdit.name}}#{{sampleToEdit.sampleId}}</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Название" [(ngModel)]="sampleToEdit.name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Описание" [(ngModel)]="sampleToEdit.description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-primary" (click)="saveSample()">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>